
*{box-sizing: border-box;
margin: 0;}

body{
    font-family: sans-serif, Verdana, Tahoma;
    margin-top: 300px;
    scroll-behavior: smooth;
}

h1{ font-size: 3.5em; margin: 20px;}
h2{ font-size: 2.7em; margin: -10px 0 20px 0;}
p{ font-size: 1.25em; margin: 15px;}
ul{ list-style: none;}
a{text-decoration: none;}

button{
    font-size: 1.2em;
    font-weight: bold;
    background-color:  #af599e;
    color:  #fbfbfb;
    border-radius: 15px;
    border: 1px solid #747474;
    box-shadow: 1px 1px 6px #74747480;
    padding: 3px 15px;
    margin: 20px;
}
button:hover{
    background-color: #834276;
    padding: 5px 17px;
}

.contenedor-menu{
    max-width: 1600px;
    margin: auto;
    
}

header{
    background-color: #fbfbfb;
}

header .logo-img{
    padding: 5px 30px;
    width: 200px;
}

header .contenedor-menu{
    position: fixed;
    display: flex;
    flex-direction: column;    
    align-items: center;
    top: 0;
    background-color: #fbfbfb;
    width: 100%;
}

header nav{
    text-align: center;
    
}
.menu-item{
    padding: 5px 12px;       
    margin-left: -40px;
}

.menu-item a{
    color: #363636;    
    text-decoration: none;    
    font-weight: bold;
}

header a:hover{
    color: #af599e;
}

section[id]{
    scroll-margin-top: 300px;
}


.imagen img{
    display: flex;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0px -10px;
    margin-top: 10px;
}

#saludo{
    text-align: center;
    padding: 90px 20px;
    margin: 40px 10px;
}

#sobreElCurso{
    text-align: center;
    padding: 90px 12px;
    background-color: #af599e;
    margin-bottom: 30px;
    padding: 90px 20px;
}

#contacto{
    margin: 90px;
    display: flex;
    justify-content: space-evenly;
}
#contacto img{
    width: 100px;
    margin: 15px;
}

footer p{
    margin: 0;
    color: #fbfbfb;
    padding: 15px;
}
footer .contenedor-f{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90px;
    background-color: #af599e;
}

.menu-item.active{
    padding-right: 10px;
    background: #af599e;
    transition: background-color 0.3s;
    border-radius: 15px;
}

.menu-item.active:hover{
    color: #fbfbfb;
}

@media (min-width: 775px){

    header .contenedor-menu{
        flex-direction: row;
        justify-content: space-between;
    }

    header .menu-item{
        display: inline;
        margin: auto;
        padding-right: 25px;
    }

    h1{font-size: 48px;}
    h2{font-size: 32px;}
}